body{
    background-color: var(--color-bg);
    font-family: FigTree;
}
body {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

body.loaded {
    opacity: 1;
    transform: translateY(0);
}
