/* FONT WEIGHT */
.txt-m{ font-weight: 500; }
.txt-bold{ font-weight: 600; }
.txt-x-bold{ font-weight: 800; }

/* FONT SIZE */
.txt-sm{ font-size: 0.875rem; }
.txt-base{ font-size: 1rem; }
.txt-2xl{ font-size: 1.5rem; }

/* LINE HEIGHT */
.txt-normal-line{ line-height: 150%; }

/* LETTER SPACING */
.tracking-norm{ letter-spacing: 0px; }